body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

textarea, button, div {
  width: calc(100% - 20px);
  margin: 10px;
  padding: 10px;
}

textarea {
  height: 100px;
  resize: none;
}

div#response {
  height: 150px;
  overflow-y: auto; /* Make response scrollable */
  background: #f1f1f1;
  border: 1px solid #ccc;
}
